@font-face {
    font-family: Gronra;
    src: url("/assets/fonts/Gronra_Regular.otf") format("opentype");

}
@font-face {
    font-family: Gronra;
    font-weight: 250;
    src: url("/assets/fonts/Gronra_Regular.otf") format("opentype");
}
@font-face {
    font-family: Gronra;
    font-weight: lighter;
    src: url("/assets/fonts/Gronra_Regular.otf") format("opentype");
}
@font-face {
    font-family: Gronra;
    font-weight: bold;
    src: url("/assets/fonts/Gronra_Bold.otf") format("opentype");
}
@font-face {
    font-family: Gronra;
    font-weight: 900;
    src: url("/assets/fonts/Gronra_Black.otf") format("opentype");
}
